.deleteAlbumContainer {
    margin-top: 100px;
}

.albumDeleteBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
    transition: 0.3s all ease-in-out;
}

.albumDeleteBox:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.albumDeleteNames {
    font-family: 'NudMotoya Cedar W55 W5';
    font-size: 14px;
    gap: 5px;
}

.albumDeleteImage img {
    width: 200px;
    border-radius: 10px;
}

.albumDeleteNames {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputDeleteAlbumSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.inputDeleteAlbumSearch input {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(54, 54, 54);
    border: none;
    padding-left: 10px;
    color: white;
    font-size: 15px;
}

.optionDeleteAlbum button {
    width: 100%;
    height: 40px;
    background-color: rgb(159, 24, 24);
    border: none;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
}

.optionDeleteAlbum button:hover {
    background-color: rgb(196, 55, 55);
    cursor: pointer;
}