* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.homeFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    min-height: calc(100vh - 80px);
    background-color: #000;
}

.inputItemSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.inputItemSearch input {
    width: 50vw;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(45, 45, 45);
    border: none;
    padding-left: 20px;
    color: white;
    font-weight: 600;
    font-size: 15px;
}

@media (max-width: 768px) {
    .homeFlex {
        margin-left: 0;
        width: 100%;
    }
}