* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.homeFlex {
    margin-left: 400px;
    margin-top: 80px;
    padding: 40px;
    min-height: calc(100vh - 80px);
    background-color: #000;
}

@media (max-width: 768px) {
    .homeFlex {
        margin-left: 0;
        width: 100%;
    }
}