* {
    color: white;
}

.buttonsHome {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.buttonsHome button {
    padding: 20px;
    background-color: rgb(2, 27, 2);
    border: none;
    transition: 0.3s all ease-in-out;
}

.buttonsHome button:hover {
    border-radius: 10px;
    background-color: rgb(4, 44, 4);
    cursor: pointer;
}